.nav{
    position: fixed;
}

.nav__contents{
    display: flex;
    justify-content: space-between;
}

.nav__black{
    background-color: #111;
}

.nav__logo{
    position: fixed;
    left: 0px;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
    
}